<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQdBGKQAdbdLXz13RvY-01cEse9o7V4Ag</string>
	<key>GCM_SENDER_ID</key>
	<string>419962254076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.delivery</string>
	<key>PROJECT_ID</key>
	<string>fomedeque-d4480</string>
	<key>STORAGE_BUCKET</key>
	<string>fomedeque-d4480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419962254076:ios:9b998d44802f7376a2dd79</string>
</dict>
</plist>